<h1>About Me</h1>
<hr>
<p>Youngest of four brothers. Born in American Fork, Utah in 1997. Brothers are Tyson, Jesse, and Zac. Parents are Mark and Sonya. </p>
<p>Born in American Fork, Utah. Grew up doing all things outdoors, hunting, fishing, dirtbikes, camping, etc. Along with all the outdoor activities manged to play football and baseball.</p>
