 <h1>Contact me if you have questions!</h1>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h3>Office Address</h3>

       <p>1472 West 105 North, Orem, UT 84057</p>

       <h3>Phone</h3>

       <p><%= number_to_phone "8013183277" %></p>

       <h3>Email</h3>

        <p><a href="mailto:kdub@relevantinc@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-6">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3042.963201828635!2d-111.73105699999999!3d40.298776000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d9b1576600ebf%3A0xc5bd2af224c71bb9!2sRelevant+Inc.!5e0!3m2!1sen!2sus!4v1546036660049" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


