<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Home page of Koby Willis. Welcome to my page. Here you will learn a little about me, see what I have to say, and be able to contact me. Thank you for stopping by!</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
